body{
    padding: 0;
    border: 0;
    margin: 0;
    background: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/pokemon/background.jpg");
}

.tile{
    width: 251px;
    height: 234px;
    margin: 15px;
    margin-top: 140px;
    background: white;
    float: left;
    border: white inset 10px;
    /*box-sizing: border-box;*/
}

.button{
    float: left;
    margin: 0 10vw;
    width:10vw;
    border-radius: 10%;
    transform: translate(40%, 40%);
    
}

.tile div{
    text-align:center;
    font-size: 2em;
    position:relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.text {
    text-align: center;
    font-size: 2em;
    border: white inset 3px;
    color: black;
}
